<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Deck Name</th>
          <th>Review Day</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.day}}</td>
          <td>
            <form method="POST" action="/toggleUserDeck">
            <input type="hidden" value="{{../userId}}" name="userId">
            <input type="hidden" value="{{this.id}}" name="deckId">
            <input type="submit" value="{{this.status}}" class="btn btn-link">
            </form>
          </td>
          <td>Practice</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <br>
</div>