<div class="container">
  {{!-- Decks for a given user - the user's "home page" --}}
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Deck Name</th>
          <th>Review Day</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.day}}</td>
          <td>
            <form method="POST" action="/toggleUserDeck">
              <input type="hidden" value="{{../userId}}" name="userId">
              <input type="hidden" value="{{this.id}}" name="deckId">
              <input type="hidden" name="_csrf" value="{{_csrfToken}}">
              <input type="submit" value="{{this.status}}" class="btn btn-link">
            </form>
          </td>
          <td>
            <form method="POST" action="/practice">
              <input type="hidden" value="{{../userId}}" name="userId">
              <input type="hidden" value="{{this.id}}" name="deckId">
              <input type="hidden" name="_csrf" value="{{_csrfToken}}">
              <input type="submit" value="Practice" class="btn btn-primary"> (active decks only)
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>